<!doctype html>
<html>
  <head>
    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <h1 class="test">Handlebars Demo Site</h1>
    <main>Content goes here.</main>
    {{> partials/test title="welcome to my partial"}}

    <div class="grid-x">
      <div class="cell">full width cell</div>
      <div class="cell">full width cell</div>
    </div>
    <div class="grid-x">
      <div class="small-6 cell">6 cells</div>
      <div class="small-6 cell">6 cells</div>
    </div>
    <div class="grid-x">
      <div class="medium-6 large-4 cell">12/6/4 cells</div>
      <div class="medium-6 large-8 cell">12/6/8 cells</div>
    </div>

  </body>
</html>
