<!doctype html>
<html>
  <head>
    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <h1 class="test">Handlebars Demo Site</h1>
    <main>Content goes here.</main>
    {{> partials/test title="welcome to my partial"}}
  </body>
</html>
