<footer class="marketing-site-footer">
  <div class="marketing-site-footer-bottom">
    <div class="row large-unstack align-middle">
      <div class="column">
        <p><span>Site by: <a href="https://www.johan-martin.com">Johan Martin</a></span></p>
      </div>
      <div class="column">
        <ul class="menu marketing-site-footer-bottom-links">
          <li><a href="https://www.paseo.org.za">Paseo Baptist Church</a></li>
          <li><a href="https://center.paseo.org.za">Paseo Preschool and Daycare</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
