<header class="main-header">
  <nav class="grid-container top-nav affiliates">
    <div class="top-bar">
      <div class="top-bar-right">
        <ul class="menu large-horizontal">
          <li><a href="https://www.paseo.org.za">Paseo Baptist Church</a></li>
          <li><a href="#">The Martins</a></li>
        </ul>
      </div>
    </div>
  </nav>
</header>
