<article>
  <h1>Our Pastor and His Wife</h1>
  <p>Rev. Chris Martin and his wife, Sheriffa, are missionaries with Evangelical Baptist Missions, which is based in Kokomo, Indiana, USA. They have been in the ministry for the past 35 years, and has pastored churches in Port Elizabeth and surrounding areas, Calvary Baptist Church in Eldorado Park, ext 2, and Decision Baptist Church in Kansas City, Kansas, USA.</p>
</article>
