<!doctype html>
<html>
  <head>
    <title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
    <div class="grid-container full">
      {{> home/comingsoon}}
      {{> home/footer}}
    </div>
  </body>
</html>
